.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding-left: 130px;
  padding-right: 130px;
  justify-items: center;
  padding-bottom: 40px;
}
