.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-width: 750px;
  padding-left: 110px;
  padding-right: 110px;
  margin-bottom: 10px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.menuGroup {
  display: flex;
  gap: 10px;
}

.inputContainer {
  display: flex;
  width: 100%;
}

.input {
  height: 50px;
  margin-left: 110px;
  margin-right: 110px;
  min-width: 400px;
}

.menuItems {
  :global(.ant-menu.ant-menu-sub.ant-menu-inline) {
    background: none;
  }

  :global(.ant-menu-submenu-title) {
    background: white;
    color: black !important;
  }

  :global(.ant-menu-item-group-title) {
    display: none;
  }

  :global(.ant-menu-item.ant-menu-item-only-child) {
    background: white;
  }

  :global(.ant-menu-item-selected) {
    color: #260b8f;
  }
}
