body {
  margin: 0;
  padding: 0;
  background-color: #e7f2f4;
}

#root {
  min-height: 100vh;
}

.fade {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
